@import "./tokens.scss";

#sponsors {
  text-align: center;
  p {
    font-size: 1.5em;
    padding: 2em 0;
  }

  a {
    color: $color-text-heading-fallback;
  }
}

.sponsors {
  display: grid;
  gap: 1.5rem 1rem;
  grid-template-columns: 1fr 1fr;
  margin: auto;
 
  .sponsor {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 66.15%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 30px;
    text-decoration: none;
    font-size: 2rem;

    img {
      height: 100%;
      width: auto;
    }

    grid-column: span 2;
  }


  @include viewport(desktop) {
    grid-template-columns: repeat(6, 1fr);
    .sponsor {
      grid-column: span 3;
    }
    .sponsor.big {
      grid-column: span 6;
    }

  }

}
