/*
  Colours
*/

$color-background: linear-gradient(180deg, #000 0%, #0A000F 100%);;
$color-background-footer: linear-gradient(180deg, #15011E 0%, #1B0A3F 98.63%);
$color-background-button: linear-gradient(270deg, #5bcbff 14.36%, #fd89ff 97.52%);

$color-text: #fff;
$color-text-heading: #8ad5ff;
$color-text-heading-fallback: #e725ff;

$color-text-light-heading: #E4F7F3;
$color-text-subheading: #FFEEC6;
$color-gradient-start: #5bcbff;
$color-gradient-end: #fd89ff;


/*
  Typography
*/
@font-face {
  font-family: "Hubot Sans";
  src: url('./assets/fonts/Hubot-Sans-Regular.woff2');
  src: url('./assets/fonts/Hubot-Sans-Regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hubot Sans";
  src: url('./assets/fonts/Hubot-Sans-SemiBold.woff2');
  src: url('./assets/fonts/Hubot-Sans-SemiBold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
}

$text-size: clamp(1rem, 2vw, 1.25rem);
$text-size-h1: clamp(2.5rem, 8vw, 5.94rem);
$text-size-h2: clamp(1.6rem, 6vw, 3.3rem);
$text-size-h3: clamp(1.4rem, 5vw, 2.5rem);
$text-size-button: clamp(1.25rem, 4vw, 2.25rem);

/*
  Media Queries
*/
$container-max-width: 1500px;
$gutter: 1.75rem;

$tablet-min-width: 768px;
$desktop-min-width: 1025px;

@mixin viewport($media) {
  @if $media == mobile {
    @media only screen and (max-width: ($tablet-min-width - 1)) {
      @content;
    }
  } @else if $media == mobile-tablet {
    @media only screen and (max-width: ($desktop-min-width - 1)) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $tablet-min-width) and (max-width: ($desktop-min-width - 1)) {
      @content;
    }
  } @else if $media == tablet-desktop {
    @media only screen and (min-width: $tablet-min-width) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $desktop-min-width) {
      @content;
    }
  }
}

/*
  Animation
*/
$transition-speed-fast: 0.2s;
$easing-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
